<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="header" th:fragment="bodyHeader">
    <div class="text-center">
        <a href="/">
            <img alt="max width 100"
                 class="img-responsive"
                 src="https://t1.daumcdn.net/cfile/tistory/2511244256E7B6BF44"/>
        </a>
    </div>

    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <span class="navbar-text">경제 사이트</span>

            <button aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler"
                    data-target="#navbarNavAltMarkup" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" href="/posts">게시판</a>
                    <a class="nav-link" href="/video">경제 유튜브</a>
                    <a class="nav-link" href="/news">경제 기사</a>
                    <!--                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>-->
                </div>
            </div>
        </nav>
    </div>
</div>
</html>