<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: header">
    <meta charset="UTF-8">
</head>
<body>
<div class="container">
    <div th:replace="common/body_header :: bodyHeader"></div>

    <form action="#" method="post" th:action="@{/logout}" th:if="${authenticated}">
        <input type="submit" value="Logout"/>
        <!--<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>-->
    </form>

    <table class="table table-light table-hover">
        <thead>
        <tr>
            <th scope="col" th:align="center" th:colspan="2">제목</th>
            <th scope="col">작성일</th>
            <th scope="col">조회수</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="post : ${posts}">
            <td th:text="${post.getId()}"></td>
            <td><a th:href="@{/post/{id}(id=${post.getId()})}" th:text="${post.getTitle()}"></a></td>
            <td th:text="${post.getCreatedAt()}"></td>
            <td th:text="${post.getViewCount()}"></td>
        </tr>
        </tbody>

    </table>

    <a class="btn btn-outline-success" th:href="@{/post}">글쓰기</a>
</div>

</body>
</html>