<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: header">
    <meta charset="UTF-8">
</head>

<body>
<div class="container">
    <div th:replace="common/body_header :: bodyHeader"></div>
    <div class="row">
        <div class="col-sm my-3">
            One of three columns
        </div>
        <div class="col-sm my-3">
            One of three columns
        </div>
        <div class="col-sm my-3">
            One of three columns
        </div>
    </div>
</div>

</body>
</html>